// extracted by mini-css-extract-plugin
module.exports = {"bigText":"BigText_bigText__ahAK1","srText":"BigText_srText__T51Fh","animatedChars":"BigText_animatedChars__n0Rpk","chars-in":"BigText_chars-in__e_wCk","passive":"BigText_passive__LhGeX"};
