// extracted by mini-css-extract-plugin
module.exports = {"homeProjectsContainer":"HomeProjects_homeProjectsContainer__WNrDS","homeProjects":"HomeProjects_homeProjects__L9cBZ","titleTwo":"HomeProjects_titleTwo__1SbOD","titleThree":"HomeProjects_titleThree__DTa0C"};
