// extracted by mini-css-extract-plugin
module.exports = {"sendMessageContainer":"SendMessage_sendMessageContainer__fBfMs","sendMessage":"SendMessage_sendMessage__OYfSR","titleTwo":"SendMessage_titleTwo__TvQFW","titleThree":"SendMessage_titleThree__eIISc","emailAddress":"SendMessage_emailAddress__1pGDa"};
